PORT=3000
NODE_ENV=development

# Entra ID (auth)
ENTRA_TENANT_ID=
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
SESSION_SECRET=

# Azure Management API
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
AZURE_APP_SERVICE_NAME=
AZURE_SP_CLIENT_ID=
AZURE_SP_CLIENT_SECRET=

# DVLA API
DVLA_USERNAME=
DVLA_EMAIL=
DVLA_SANDBOX_REQUEST_URL=https://uat.driver-vehicle-licensing.api.gov.uk/thirdparty-access/v1/new-password
DVLA_PROD_REQUEST_URL=https://driver-vehicle-licensing.api.gov.uk/thirdparty-access/v1/new-password
DVLA_SANDBOX_ROTATE_URL=https://uat.driver-vehicle-licensing.api.gov.uk/thirdparty-access/v1/password
DVLA_PROD_ROTATE_URL=https://driver-vehicle-licensing.api.gov.uk/thirdparty-access/v1/password
